*.xcuserstate
*.xcscheme
*.xcbkptlist
FutureLocation.xcodeproj/xcuserdata/*
FutureLocation.xcodeproj/project.xcworkspace/xcuserdata/*
FutureLocation.xcodeproj/project.xcworkspace/xcshareddata/*
.DS_Store
